.BannerContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  /* background-image: url("./img/Banner.jpg"); */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to left, #c9c1f4, #d8b3e7);
}

.Intro-container {
  width: 100%;
  position: relative;
}

.Intro {
  width: 70%;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to bottom, #fff 50%, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 3px #fff;
  cursor: pointer;
  transition: background-size 0.3s ease;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: center 100%;
  position: absolute;
  top: 25%;
  left: 16%;
}

.ThreeTextBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* 필요한 경우 추가적인 스타일 조정 */
}

.About-me {
  text-align: center;
  font-size: 19px;
  font-weight: bold;
  color: #fff;
  margin-top: 50px;
}

@media (max-width: 764px) {
  canvas {
    height: 300px;
  }

  .BannerContainer {
    height: 50vh;
  }
  .Intro {
    font-size: 32px;
    margin-top: 60px;
    -webkit-text-stroke: 1px #fff;
  }
  .About-me {
    font-size: 12px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
  }
}
