.BannerContainer {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url("./img/Banner.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Intro {
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(to bottom, #fff 50%, transparent 50%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 3px #fff;
  cursor: pointer;
  transition: background-size 0.3s ease;
  background-repeat: no-repeat;
  background-size: 100% 200%;
  background-position: center 100%;
}

.About-me {
  text-align: center;
  font-size: 32px;
  color: #fff;
  margin-top: 50px;
}

@media (max-width: 764px) {
  .BannerContainer {
    height: 50vh;
  }
  .Intro {
    font-size: 32px;
    margin-top: 60px;
    -webkit-text-stroke: 1px #fff;
  }
  .About-me {
    font-size: 12px;
  }
}
