.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  padding: 16px;
}

.Close-btn {
  position: absolute;
  right: 3%;
  top: 5%;
  font-size: 32px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.Modal-content {
  width: 90%;
  height: 80%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  transform: scale(0.1);
  transition: transform 0.5s ease-out;
}

.Modal-overlay.active .Modal-content {
  transform: scale(1);
}

.ModalCardImg img {
  width: 100%;
  height: 450px;
}

.ModalCard-title {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.ModalCard-title div {
  margin-left: 5px;
}

.Modal-left a {
  text-decoration: none;
  color: #000;
}

.Modal-left,
.Modal-right {
  width: 45%;
  margin: 15px 5px;
}
.Modal-right {
  margin-top: 5%;
  margin-left: 5%;
}

.Modal-right h4 {
  display: block;
  width: fit-content;
  font-size: 1.3rem;
  font-weight: 600;
  background-image: linear-gradient(90deg, #c9c1f4, #d8b3e7);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 50%;
  color: #000;
}
.Stacks {
  background-color: #c2c2c2;
  border-radius: 8px;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  width: 40px;
}

@media (max-width: 764px) {
  .Modal-content {
    width: 90%;
    overflow-y: scroll;
    flex-wrap: nowrap;
    flex-direction: column;
    /* padding: 16px; */
  }

  .Modal-left,
  .Modal-right {
    width: 100%;
    margin: 10px 0;
  }
  .ModalCardImg img {
    width: 100%;
    height: 300px;
  }
  .Close-btn {
    display: none;
  }
}
