.Skill-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
}

.Skill-head {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid #555;
  padding: 8px;
}

.Skill-card-container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

.Skill-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 3px 3px 8px rgba(155, 155, 155, 0.5);
  border-radius: 16px;
  margin: 10px;
  padding: 16px;
  min-height: auto;
}

.Skill-name {
  font-size: 16px;
  font-weight: 800;
}

.Skill-card img {
  display: block;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-height: 100%;
  border-radius: 16px;
  padding: 16px;
}

@media (max-width: 764px) {
  .Skill-card img {
    display: block;
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border-radius: 16px;
    padding: 16px;
  }

  .Skill-card-container {
    flex-wrap: wrap;
  }
}
